<div class="container">

<h1>Planets on Sale</h1>
<div class="col-sm-8 offset-sm-2">
  <%= form_tag planets_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placefolder: "Find a Planet"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
<div class="cards">
  <% @planets.each_with_index do |planet, index| %>
    <%= link_to planet_path(planet) do %>
      <div class="card-trip">
        <img src="https://source.unsplash.com/random/?planet-<%= index %>" alt="">
        <div class="card-trip-infos">
          <div>
            <h2><%= planet.name %></h2>
          </div>
          <h2 class="card-trip-pricing"><%= planet.price %></h2>
          <img src="https://source.unsplash.com/random/?human-<%= index %>" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<br>
<%= link_to 'Create Planet', new_planet_url, class: 'btn btn-primary'  %>



<%# <a href="..." class="btn btn-danger">Click me</a> %>
</div>
