<div class="container">

<h1>PLANETARIUM</h1>
<h2><strong>Welcome aboard!</strong></h2>
<h4><strong>but if you're a <strong>Galactus</strong>... please buy before you eat. Thanks :)</strong></h4>



<div class="search-bar col-sm-8 offset-sm-2">
  <%= form_tag planets_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a Planet"
    %>
    <div class="teste">
      <%= submit_tag "Search", class: "btn btn-light"  %>
    </div>
  <% end %>
</div>

<h3><strong>Planets on Sale</strong></h3>

<div class="cards" >
  <% @planets.each_with_index do |planet, index| %>
    <%= link_to planet_path(planet) do %>
      <div class="card-trip">
        <img src=<%= planet.image ? planet.image : "https://source.unsplash.com/random/?planet" %> alt="">
        <div class="card-trip-infos">
          <div>
            <h2><%= planet.name.truncate(30) %></h2>
          </div>
          <h2 class="card-trip-pricing">US$ <%= planet.price %></h2>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<br>
<div class="create-button">
  <%= link_to 'Create Planet', new_planet_url, class: 'btn btn-light btn-lg'  %>
</div>
<footer>
  <p><strong>Coming Soon...</strong></p>
  <p><strong>Protect Yourself Against Space Invaders!</strong></p>
  <br>
  <img class="space-invader" src="https://files.tecnoblog.net/wp-content/uploads/2012/06/space-invader.jpg" alt="">
</footer>

</div>
