<div class="container-buy">
<h1><%= @planet.name %></h1>
<img src="https://source.unsplash.com/random/?planet" style="height: 200px">
  <ul>
    <li><strong>Galaxy: </strong> <%=@planet.galaxy%></li>
    <li><strong>Price: </strong>US$ <%=@planet.price%> </li>
    <li><strong>Size: </strong><%=@planet.size%> km²</li>
    <li><strong>Temperature: </strong><%=@planet.temperature%> C° </li>
    <li><strong>Pressure: </strong><%=@planet.pressure%> atm</li>
  </ul>
<div class="buy-planet">
<% if policy(@planet).order? %>
  <%= link_to 'Buy Planet', new_planet_order_path(@planet), class: 'btn btn-light'  %>
<% end %>

<% if policy(@planet).edit? %>
  <%= link_to 'Edit Planet', edit_planet_path(@planet), class: 'btn btn-warning' %>
<% end %>

<% if policy(@planet).destroy? %>
  <%= link_to 'Delete Planet',planet_path(@planet), method: :delete, class: 'btn btn-danger' %>
<% end %>
</div>
