<h1><%= @planet.name %></h1>
<img src="https://source.unsplash.com/random/?planet" class="w-25 h-50">
<ul>
<li>Galaxy: <%=@planet.galaxy%></li>
<li>Price: <%=@planet.price%> dollars</li>
<li>Size: <%=@planet.size%> km</li>
<li>Temperature: <%=@planet.temperature%> degrees celsius </li>
<li>Pressure: <%=@planet.pressure%> atm</li>
</ul>
<%= link_to 'Buy Planet', new_planet_order_path(@planet), class: 'btn btn-primary'  %>
<h1>Planet: <%= @planet.name %></h1>
<%= link_to 'Delete Planet',planet_path(@planet), method: :delete, class: 'btn btn-danger' %>
<%= link_to 'Edit Planet', edit_planet_path(@planet), class: 'btn btn-warning' %>
