<h1>Do you REALLY want to buy this planet? <%= @planet.name %> for <%= @planet.price %> dollars?</h1>
<%= simple_form_for [@planet, @order] do |f| %>
  <div class="yes">
    <%= f.submit 'Yes', class: 'btn btn-light btn-lg'%>
  </div>
<% end %>
<div class="no">
  <%= link_to 'No', planet_path(@planet), class: 'btn btn-light btn-lg'  %>
</div>
